node_modules/
**/node_modules/

dist/
**/dist/

output/
**/output/
!lynxtron-go/src/app/components/Output/
!lynxtron-go/src/app/components/Output/OutputPanel.tsx
!lynxtron-go/src/app/components/Output/OutputPanel.css

build/
**/build/

*.tgz
*.node
.DS_Store
