.LogViewScroll {
  flex: 1;
  width: 100%;
  padding: 6px 10px;
  overflow: hidden;
}

.LogViewText {
  display: block;
  width: 100%;
  font-size: 12px;
  line-height: 18px;
  color: #cccccc;
  font-family: monospace;
  white-space: pre-wrap;
  word-break: break-all;
  cursor: text;
}
